@using IdentityV2.Models.AccountModels
@model LoginModel;


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ReturnUrl)
    <div class="form-outline mb-4">
        @Html.LabelFor(x => x.Mail, htmlAttributes:new {@class="form-label"})
        @Html.TextBoxFor(x => x.Mail)
    </div>

    <div class="form-outline mb-4">
        @Html.LabelFor(x => x.Password, htmlAttributes:new {@class="form-label"})
        @Html.TextBoxFor(x => x.Password)
    </div>

    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <div class="form-check">
                @Html.CheckBoxFor(x => x.RememberMe)
                @Html.LabelFor(x => x.RememberMe, htmlAttributes:new {@class="form-check-label"})
            </div>
        </div>

        <div class="col">
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
}
<!-- Register buttons -->
<div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>
    <p>or sign up with:</p>
    <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
    </button>
</div>